.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #bbbbbb;
}

.content {
  margin: 30px 0;
}

#main {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
}

.brand a {
  text-decoration: none;
  color: #314159;
}

.index-news {
  margin-left: 2em;
}

/* for projects */

.links {
	margin-top:14px;
	text-align:center;
	width:100%
}

#links_1>div{
	width:100%
}

#links_2>div{
	width:50%
}

#links_3>div{
	width:33.33%
}

.links div{
	display:inline-block;
	min-width:150px;
	text-align:center
}
