{% if site.data.events.size > 0 %}
<div id="events">
 <a name="future"></a><h4>Upcoming <small>A list of events with the soonest first.</small></h4>
  {% for event in site.data.events %}
  {% capture nowunix %}{{ site.time | date: '%s' }}{% endcapture %}
  {% capture eventunix %}{{ event.date | date: '%s' }}{% endcapture %}
  {% if eventunix > nowunix %}
  <div class="event">
    <strong>{{ event.title }}</strong>{% if event.subtitle %} | {{ event.subtitle }}{% endif %}<br/>
    <span class="time">{{ event.time }}, {{ event.date | date: "%d %B, %Y"}}</span>
    <span class="separator">|</span>
    {{ event.location }} <a href="https://www.openstreetmap.org/{{ event.osm }}"><i class="fa fa-location-arrow"></i></a>
  </div>
  <div class="description">{{ event.description | markdownify }}</div>
  {% endif %}
  {% endfor %}
  
  
  <a name="past"></a><h4>Past <small>A list of past events in reverse chronological order.</small></h4>
  {% for event in site.data.events %}
  {% capture nowunix %}{{ site.time | date: '%s' }}{% endcapture %}
  {% capture eventunix %}{{ event.date | date: '%s' }}{% endcapture %}
  {% if eventunix < nowunix %}
  <div class="event">
    <strong>{{ event.title }}</strong> | {{ event.subtitle }}<br/>
    <span class="time">{{ event.time }}, {{ event.date | date: "%d %B, %Y"}}</span>
    <span class="separator">|</span>
    {{ event.location }} {% if event.osm %}<a href="https://www.openstreetmap.org/{{ event.osm }}"><i class="fa fa-location-arrow"></i></a>{% endif %}
  </div>
  <div class="description">{{ event.description | markdownify }}</div>
  {% endif %}
  {% endfor %}
</div>
{% else %}
  There are no events scheduled at the moment... Please check back soon!
{% endif %}
