<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
    {% for link in site.pages %}
    {% if link.title %}
    {% if page.url contains link.url %}
    <li class="active"><a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a></li>
    {% else %}
    <li><a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
    </ul>
  </nav>
  <span class="brand"><h3><a href="{{ site.baseurl }}/"><strong>{{ site.title }}</strong></a> </h3></span>
</div>
